@font-face {
    font-family: 'Consolas';
    src: local(input mono);
}
@font-face {
    font-family: 'Liberation Mono';
    src: local(input mono);
}
@font-face {
    font-family: 'Menlo';
    src: local(input mono);
}
@font-face {
    font-family: 'Courier';
    src: local(input mono);
}

@font-face {
    font-family: 'monospace';
    src: local(input mono);
}
@font-face {
    font-family: 'input';
    src: local(input mono);
}

.reveal pre {
  font-size: 1em;
  font-family: input;
}

.reveal code {
  font-size: 0.9em;
  font-family: input;
  font-weight: 700;
}
